WebContent/xmlFiles/Department.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="departments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="department">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="location"/>
              <xs:element type="xs:anyURI" name="url"/>
              <xs:element type="xs:string" name="mission"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>