WebContent/XSD/Student.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:int" name="buckId"/>
              <xs:element type="xs:string" name="fname"/>
              <xs:element type="xs:string" name="lname"/>
              <xs:element type="xs:long" name="contactNumber"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="dob"/>
              <xs:element type="xs:string" name="gradYear"/>
              <xs:element type="xs:string" name="userName"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element type="xs:short" name="deptId"/>
              <xs:element type="xs:string" name="job"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>